In [ ]:
1. What exactly is []?
Answer- it is square brackets which is used to declare the list variables

In [ ]:
2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Answer- situation is

spam = [2,4,6,8,10]
spam.extend(["hello"]) # we can use extend() funtion 
spam.append("hello")   # we can also use the append() function

In [5]:
spam = [2,4,6,8,10]
spam.extend(["hello"])
spam.append("hello")

In [6]:
spam

[2, 4, 6, 8, 10, 'hello', 'hello']

In [13]:
spam = ['a','b','c','d']

In [ ]:
3. What is the value of spam[int(int('3'*2)/11)]?

In [14]:
spam[int(int('3'*2)/11)]
Answer- 'd'

'd'

In [ ]:
4. What is the value of spam[-1]?
Answer- 'd'

In [15]:
spam[-1]

'd'

In [ ]:
5. What is the value of spam[:2]?
Answer- ['a', 'b']

In [16]:
spam[:2]

['a', 'b']

In [17]:
bacon = [3.14,'cat',11,'cat',True]

In [ ]:
6. What is the value of bacon.index('cat')?
Answer-  1 (by default is will take first 'cat' index)

In [18]:
bacon.index('cat')

1

In [ ]:
7. How does bacon.append(99) change the look of the list value in bacon?
Answer- it will add the 99 at the end of the list, like following
        [3.14, 'cat', 11, 'cat', True, 99]

In [19]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
8. How does bacon.remove('cat') change the look of the list in bacon?
Answer- it will remove the first 'cat' and the bacon will remain like
        [3.14, 11, 'cat', True, 99]

In [20]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
9. What are the list concatenation and list replication operators?
Answer-     + is the list concatenation operator
            * is the list replication operator
    following example

In [26]:
l=[1,2,3]
l1=[10,20,30]
l+l1         # + is the list concatenation operator

[1, 2, 3, 10, 20, 30]

In [28]:
l*2         #* is the list replication operator

[1, 2, 3, 1, 2, 3]

In [30]:
10. What is difference between the list methods append() and insert()?
Answer- append() is by default adding the element at the end of the list,
        where as insert(a,b) is adding the element by index wise, it is taking two values first 
        is index and another is value
    following exmaple

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [37]:
l2 = [20,40,60,80]
l2.append(100)     # appending 100 at end of the list l2
print(l2)

[20, 40, 60, 80, 100]

In [38]:
l2.insert(1,0)  # at 1 possition inserting 0
l2

[20, 0, 40, 60, 80, 100]

In [ ]:
11. What are the two methods for removing items from a list?
Answer-  one is pop() which is removing element index wise 
         another is remove() which is removing specified element 
    like example below

In [39]:
l3 = [10,20,30,40,50,60]
l3.pop(2)     # it is removing an element at index 2 that is 30
l3

[10, 20, 40, 50, 60]

In [40]:
l3.remove(50)  # this is removing an element mentiones that is 50
l3

[10, 20, 40, 60]

In [ ]:
12. Describe how list values and string values are identical.
Answer-both list and str values are assess by indexes like an example

In [41]:
s='ineuron'
l=[10,20,30,40,"hello","hi"]
s[::-1]  # this is working in str to reverse the str

'norueni'

In [42]:
l[::-1]  # this is also work in list too

['hi', 'hello', 40, 30, 20, 10]

In [ ]:
13. What is the difference between tuples and lists?
Answer- tuple is encapsulated in ()
        list  is encapsulated in []
    tuple dose not support the item assignment operation where as list do

In [ ]:
14. How do you type a tuple value that only contains the integer 42?
Answer- t=(42,) comma is mendatory for one element tuple

In [45]:
t=(42,)
t

(42,)

In [ ]:
15. How do you get a list values tuple form? How do you get a tuple values list form?
Answer- by using list()  and tuple() we can get the list values from tuple and visw versa 
        as per the following examples

In [47]:
t1=(10,20,30,"ineuron",50)
list(t1)     # tuple values into list

[10, 20, 30, 'ineuron', 50]

In [48]:
l1=["hi","hello","ineuron"]
tuple(l1)    # list values in tuplke

('hi', 'hello', 'ineuron')

In [ ]:
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?
Answer- list can contain the any element like list inside the list, tuple ,dict, int,str, float,set, list can contain all the datatype
        variable inside it

In [49]:
l = [["hi",100],91,{10:1,20:2},(50,60,70),{1,1,1,1,5.8,8,}]

In [ ]:
17. How do you distinguish between copy.copy() and copy.deepcopy()?
Answer- copy.copy() it is creating the reference to the original object it is not reversive
        copy.deepcopy() it is creats the new object and does real copying of original object to new one and it is reversive